<body>


  <!-- Dialogue Content -->
  <div class="dialogue-container">
    <button id="toggle-translation" class="toggle-translation"><i class="fas fa-eye"></i></button>
    <div class="dialogue-box">
      {% for entry in site.data.dialogue.dialogue %}
        {% if entry.juan %}
          <div class="message jac">
            <strong class="name">Juan</strong>
            <p>{{ entry.juan.text }}</p>
            <span class="translation">{{ entry.juan.translation }}</span>
          </div>
        {% endif %}
        {% if entry.bea %}
          <div class="message sali">
            <strong class="name">Bea</strong>
            <p>{{ entry.bea.text }}</p>
            <span class="translation">{{ entry.bea.translation }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  



  <!-- JavaScript -->
  <script>
    document.getElementById("toggle-translation").addEventListener("click", function() {
      var translations = document.getElementsByClassName("translation");
      for (var i = 0; i < translations.length; i++) {
        if (translations[i].classList.contains("show-translation")) {
          translations[i].classList.remove("show-translation");
        } else {
          translations[i].classList.add("show-translation");
        }
      }
    });
  </script>
</body>





